@use "sass:color"; // Importar el módulo de color de Sass
@use "sass:math";
@import "../variables";

@layer base {
  html {
    /* navegadores antiguos */
    height: 100vh;
    width: 100vw;

    /* Nuevas unidades dinámicas para navegadores modernos */
    @supports (height: 100dvh) {
      height: 100dvh;
      width: 100dvw;
    }
  }
}

.header {
  background-color: color.adjust($body-bg, $lightness: -10%);
  padding: 1rem 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary;
  }

  .nav {
    .nav-list {
      list-style: none; /* Eliminamos los puntos */
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1.5rem; /* Espaciado entre los enlaces */

      .nav-link {
        text-decoration: none;
        color: $primary;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
          color: color.adjust($primary, $lightness: 20%);
          text-decoration: underline;
        }
      }
    }
  }
}

/* Estilos de la sección de participantes */
.participants-section {
  padding: 2rem;

  .title {
    text-align: center;
    font-size: 2.5rem;
    color: $primary;
    margin-bottom: 2rem;
  }

  .participants-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    /* Container Queries que se incrementa con un ancho mínimo de 600px */
    @container (min-width: 600px) {
      gap: 3rem;
    }

    .participant-card {
      background-color: color.adjust($secondary, $lightness: 40%);
      border: 1px solid color.adjust($secondary, $lightness: 20%);
      border-radius: $btn-border-radius;
      padding: 1rem;
      width: calc(100% - 2rem);
      max-width: 300px;
      text-align: center;
      box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

      .participant-photo {
        width: 100%;
        border-radius: $btn-border-radius;
        margin-bottom: 1rem;
      }

      .participant-name {
        font-size: 1.5rem;
        color: $primary;
        margin-bottom: 0.5rem;
      }

      .participant-role {
        font-size: 1rem;
        color: $secondary;
      }
    }
  }
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lighten($primary, 40%);
  padding: $spacer;

  p {
    margin-bottom: math.div($spacer, 2);

    /* margin-bottom: $spacer / 2; */
    font-size: 1rem;
    color: $secondary;
  }


  .footer-links {
    display: flex;
    gap: $spacer;
    margin-bottom: $spacer;

    a {
      font-weight: bold;
      text-decoration: none;
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social-links {
    display: flex;
    gap: $spacer;

    /* Definimos container-type para usar consultas de contenedor */
    container-type: normal;

    .social-link {
      padding: 0.5rem 1rem;
      border: 1px solid $primary;
      border-radius: $btn-border-radius;
      text-decoration: none;
      color: $primary;

      @container (min-width: 600px) {
        padding: 0.5rem 3rem;
      }

      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}
